@media (max-width: 1140px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
       .hero {
           flex-wrap: wrap;
       }

       .save {
           flex-wrap: wrap;
       }

       .footer  {
           flex-wrap: wrap;

       }
}

@media (max-width: 576px) {
       .header-nav {
           display: none;
       }
}

@media (max-width: 451px) {
       .hero-img {
           width: 90%;
       }
}

@media (max-width: 400px) {
       .footer-div {
           padding: 15px 0;
       }
}

@media (max-width: 376px) {

}

@media (max-width: 320px) {

}